/* css styles */

.test h3 {
  text-align: center;
}

.focusbox {
  padding: 2em 1em 1em 8em;
  margin-bottom: 10px;
  border: 1.5px solid #3A3B60;
  border-radius: 10px;
  font-size: 18px;
  background: #eafff2 5px center/3em no-repeat;
  background-size: 7em;
}

.focus {
  background-image: url("images/focus.png");
}